body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* Barre latérale */
.sidebar {
    background-color: #f5f5f5;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 0;
    border-right: 1px solid #ddd;
}

.sidebar h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.sidebar button {
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 15px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
}

.sidebar button:hover {
    font-weight: bold;
}

.main {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 19%; /* Plus de place pour la biographie et les messages */
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

.logo img {
    max-height: 80px;
}


/* Biographie et Messages */
.biography {
    position: absolute;
    top: -5%;
    right: 2.15%; /* Déplacement vers la droite */
    width: 50%;
    height: 25%;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    transform: translateX(100%); /* Initialement invisible */
    transition: transform 0.5s ease-out;
}

.biography-content {
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border-top-left-radius: 0px;
    background: linear-gradient(135deg, #ffdd57, #ff77d9);
    overflow: hidden;
}

.messages {
    position: absolute;
    bottom: 0;
    right: 0%; /* Déplacement vers la droite */
    top: 38%;
    width: 50%;
    height: 61%;
    border: 10px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image:
        linear-gradient(white, white),
        linear-gradient(45deg, #ffdd57, #ff77d9);
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transform: translateX(100%); /* Initialement invisible */
    transition: transform 0.5s ease-out;
}

.messages-content {
    background: white;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
}

.sidebar .titre {
    font-size: x-large;
}

.announcement {
    flex: 1;
    margin: 20px;
    border: 3px solid #e8e8e8;
    font-size: 1rem;
    color: #000;
    padding: 20px;
    overflow-y: auto;
    border-radius: 10px;
    background-color: #e8e8e8;
}


.announce-container {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center; /* Centrer verticalement */
    border: 1px  black;
    height: 70px;
    width: 97%;
    border-radius: 25px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.prenom_user_annonce {
    display: flex;
    align-items: center;
    color: #000;
    font-weight: bolder;
    margin-left: 15px;
}

.description_user_annonce {
    display: flex;
    flex: 1;
    color: #373737;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn_voir_annonce {
    color: #000;
    justify-items: center;
    border-radius: 20px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin-left: auto;
}